<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <div py:def="content">
    <h2>The Data Store for <a
      href="http://www.wheredoesmymoneygo.org/">Where Does My Money
      Go?</a></h2>

    <h3>Background</h3>
    <p>For more information about this project see the main <a
      href="http://www.wheredoesmymoneygo.org/">Where Does My Money Go?
      site</a>.</p>
  </div>

  <xi:include href="../layout.html" />
</html>

