<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <div py:def="content">
    <p>Welcome to the Data Store! The store currently holds:</p>
    <ul>
      <li>${h.link_to('%s keys' % c.key_count, url(controller='key', action='index'))} which classify data (e.g. region, type of spending)</li>
      <li>${h.link_to('%s slice(s)' % c.slice_count, url(controller='slice', action='index'))} of data &ndash; a slice is a set of spending worth considering as a whole</li>
      <li>${h.link_to('%s accounts' % c.account_count, url(controller='account', action='index'))} &ndash; 'accounts' to which money flows</li>
      <li>${h.link_to('%s transactions' % c.transaction_count, url(controller='transaction', action='index'))} &ndash; 'transactions' involving flows of money</li>
    </ul>

    <h3>Background</h3>
    <p>For more information about this project see the main <a
      href="http://www.wheredoesmymoneygo.org/">Where Does My Money Go?
      site</a>.</p>
  </div>

  <xi:include href="../layout.html" />
</html>

