<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">COINS - Facet</py:def>
  <py:def function="optional_head">
  </py:def>
  
  <div py:def="content">
    <h2>Facet: ${c.field}</h2>
    <table>
      <tr>
        <th>${c.field}</th><th>Counts</th><th>Details</th>
      </tr>
      <tr py:for="key in sorted(c.facet_counts.keys())">
        <td>${key}</td>
        <td>${c.facet_counts[key]}</td>
        <td>${c.descriptions.get(key, '')}</td>
      </tr>
    </table>
  </div>

  <xi:include href="../layout.html" />
</html>

