<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Accounts that use key '${c.row.name}'</py:def>
  
  <div py:def="content">
    <p>
      The following accounts are described using key
      '<a href="${url(controller='key', action='view', id_=c.row.id)}">${c.row.name}</a>':
    </p>

    ${c.page.pager(items_per_page=c.items_per_page)}
    <ul>
      <li py:for="a in c.page.items">
        <a href="${url(controller='account', action='view', id_=a.id)}">${a.name}</a>
      </li>
    </ul>
    ${c.page.pager(items_per_page=c.items_per_page)}
  </div>

  <xi:include href="../layout.html" />
</html>

