<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">All keys</py:def>
  
  <div py:def="content">
    <p>The database contains the following keys:</p>
    <ul>
      <li py:for="parent, children in sorted(c.by_parent.items())">
        ${render_key(c.by_name[parent])}
        <ul py:if="children">
          <li py:for="child in sorted(children)">
            ${render_key(c.by_name[child])}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>

