<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">View key</py:def>
  
  <div py:def="content">
    <p>Properties of key '${c.row.name}':</p>
    <dl>
      <dt>Usage:</dt>
      <dd>
        <dl>
          <py:if test="c.num_accounts">
            <dt>Number of accounts:</dt>
            <dd>
              <a href="${url(controller='key', action='accounts', id_or_name=c.row.id)}">${c.num_accounts}</a>
            </dd>
          </py:if>
          <py:if test="c.num_enumeration_values">
            <dt>Number of enumeration values:</dt>
            <dd>${c.num_enumeration_values}</dd> <!-- href? -->
          </py:if>
        </dl>
      </dd>
      
      <py:if test="c.row.notes">
        <dt>Notes:</dt>
        <dd>${c.row.notes}</dd> <!-- TODO: Markdown -->
      </py:if>
    
      <dt>Values with defined meanings:</dt>
      <dd py:if="not c.row.enumeration_values"><em>(None)</em></dd>
      <dd py:if="c.row.enumeration_values">
        ${c.page.pager(items_per_page=c.items_per_page)}
        <ul>
          <li py:for="v in c.page.items">
            <a href="${url(controller='enumeration_value', action='view', id_=v.id)}">${v.code}</a>
            (${v.name})
          </li>
        </ul>
      </dd>
    </dl>
  </div>

  <xi:include href="../layout.html" />
</html>

