<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <div py:def="render_key(key)" class="key-desc" style="display: inline;">
    <a href="${url(controller='key', action='view', name_or_id=key.name)}">${key.name}</a>
    <py:if test="key.notes">
    &ndash; 
    ${' '.join(key.notes.split()[:20]) + ' ...'}
    </py:if>
  </div>

  <div py:def="render_account(account)" class="account-desc" style="display: inline;">
    <a href="${url(controller='account', action='view', id_=account.id)}">${account.name}</a>
    <py:if test="account.notes">
    &ndash; 
    ${' '.join(account.notes.split()[:20]) + ' ...'}
    </py:if>
  </div>

  <div py:def="render_coins_entries(entries)">
    <table class="small tablesorter" py:with="keylist = ['department_description', 'value', 'programme_object_group_description', 'programme_object_description', 'account_description', 'budget_boundary', 'time', 'data_type']">
      <thead>
        <tr>
          <th>SRCID</th>
          <th py:for="key in keylist">
            ${key.replace('_',' ').capitalize()}
          </th>
        </tr>
      </thead>
      <tbody>
      <tr py:for="row in entries">
        <td>
          <a href="${url(controller='coins', action='view',
            id=row['srcid'])}">${row['srcid'].split('.')[1]}</a>
          (<a href="${h.total_link(row)}"
            title="Total for data_type/account_code/programme_object">total</a>)
        </td>
        <td py:for="key in keylist">
          ${row.get(key, '')}
        </td>
      </tr>
    </tbody>
    </table>
  </div>

  <div py:def="disqus_thread(id)" py:strip="">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "${id}";
      // var disqus_developer = 1;
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://wdmmg-coins.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=wdmmg-coins">comments powered by Disqus.</a></noscript>
  </div>

</html>
