<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Transactions for account '${c.row.name}'</py:def>
  
  <div py:def="content">
    <p>
      The following postings have been made against account
      '<a href="${url(controller='account', action='view', id_=c.row.id)}">${c.row.name}</a>':
    </p>

    ${c.page.pager(items_per_page=c.items_per_page)}
    <table>
      <tr>
        <th scope="col">Transaction id</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
      </tr>
      <tr py:for="p in c.page.items">
        <td>
          <a href="${url(controller='transaction', action='view', id_=p.transaction_id)}">
            ${p.id}
          </a>
        </td>
        <td>${p.timestamp.strftime('%Y-%m-%d')}</td>
        <td class="credit" py:if="p.amount &gt;= 0">${p.amount}</td>
        <td class="debit" py:if="p.amount &lt; 0">(${p.amount})</td>
      </tr>
    </table>
    ${c.page.pager(items_per_page=c.items_per_page)}
  </div>

  <xi:include href="../layout.html" />
</html>

