<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Transactions for account '${c.row.name}'</py:def>

  <py:def function="optional_head">
    <!--[if IE]><script language="javascript" type="text/javascript" src="/scripts/flot-0.5/excanvas.pack.js"></script><![endif]-->
    <script type="text/javascript" src="http://m.okfn.org/ext/flot-0.6/jquery.flot.js">//pointless jscript comment</script>
  </py:def>
  
  <div py:def="content">
    <p>
      The following postings have been made against account
      '<a href="${url(controller='account', action='view', id_=c.row.id)}">${c.row.name}</a>':
    </p>

    <div id="postings_graph" style="width:600px;height:300px"></div>
    <script type="text/javascript">
      var options = {
          xaxis: {
            mode: "time",
            timeformat: "%y-%b"
          },
          legend: {
            position: "nw",
          },
          colors: ["#ffcc33"]
      };
      var data = [
        {label: "Amount ($)",
          lines: {
            fill: 1,
            },
        data: [ 
        <py:for each="timestamp,amount in sorted(c.amounts.items())">
        [ new Date(${int(timestamp[:4])}, 4, 5), ${amount} ],
        </py:for>
        ]}
      ];
      $.plot($("#postings_graph"), data, options);
    </script>

    ${c.page.pager(items_per_page=c.items_per_page)}
    <table>
      <tr>
        <th scope="col">Transaction id</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
      </tr>
      <tr py:for="p in c.page.items">
        <td>
          <a href="${url(controller='transaction', action='view', id_=p.transaction_id)}">
            ${p.id}
          </a>
        </td>
        <td>${p.timestamp}</td>
        <td class="credit" py:if="p.amount &gt;= 0">${p.amount}</td>
        <td class="debit" py:if="p.amount &lt; 0">(${p.amount})</td>
      </tr>
    </table>
    ${c.page.pager(items_per_page=c.items_per_page)}
  </div>

  <xi:include href="../layout.html" />
</html>

