<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Search for accounts</py:def>
  
  <div py:def="content">
    <h2>COINS Search</h2>
    
    <form action="" method="get">
      <input type="text" name="q" size="40" value="${c.q}" />
      <input type="submit" value="Search accounts" />
    </form>
    <p class="desc">E.g. 'London', 'pensions', 'environment'.</p>

    <p><strong>${c.page.item_count}</strong> results. <em>Spot an interesting item or query? Note it <a href="http://spreadsheets1.google.com/ccc?key=tjXlULZnawbO7p5VQpwJG8g">in this spreadsheet</a></em>.</p>

    ${c.page.pager(items_per_page=c.items_per_page)}
    ${render_coins_entries(c.results)}
    ${c.page.pager(items_per_page=c.items_per_page)}
  </div>

  <xi:include href="../layout.html" />
</html>

