<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">View enumeration value</py:def>
  
  <div py:def="content">
    <p>
      Properties of value '${c.row.code}' of key
      '<a href="${url(controller='key', action='view', name_or_id=c.key.name)}">${c.key.name}</a>':
    </p>

    <dl>
      <dt>Code:</dt>
      <dd>${c.row.code}</dd>

      <dt>Name:</dt>
      <dd>${c.row.name}</dd>

      <dt>Keys and values:</dt>
      <dd>
        <dl>
          <py:for each="key, value in c.row.keyvalues.items()">
            <dt><a href="/key/${key.id}">${key.name}</a></dt>
            <dd>${value}</dd> <!-- href? -->
          </py:for>
        </dl>
      </dd>

      <py:if test="c.row.notes">
        <dt>Notes:</dt>
        <dd>${h.markdown(c.row.notes)}</dd>
      </py:if>

    </dl>
    <h3>Classified Accounts</h3>
      <ul>
      <py:for each="acc in c.accounts">
        <li>${render_account(acc)}</li>  
      </py:for>
      </ul>
  </div>

  <xi:include href="../layout.html" />
</html>

