<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Spending</py:def>

  <div py:def="content">
    <form action="${url(controller='aggregate', action='view')}" method="get">
      <p py:if="c.filters">
        Only show spending where:
        <ul>
          <li py:for="key, value in sorted(c.filter_labels.items())">
            Key '${key}' has value '${value}'.
            <a href="${c.filter_links[key]}">(remove)</a>
            <input type="hidden" name="include-${key}" value="${value}"/>
          </li>
        </ul>
      </p>
      <p py:if="not c.filters">
        Show all spending.
      </p>

      <p>
        <label for="breakdown">Breakdown by</label>
        ${h.select(
            "breakdown",
            c.axis.name if c.axis else '',
            sorted([key.name for key in c.bd_keys]),
            prompt=u'(no breakdown)'
        )}
        <input type="submit" value="Update"/>
      </p>
    </form>

    <py:def function="money_td(amount)">
      <td class="credit" py:if="amount &gt;= 0">${'%.1f' % (amount/1e6)}</td>
      <td class="debit" py:if="amount &lt; 0">${'(%.1f)' % (amount/1e6)}</td>
    </py:def>
    <div style="overflow:auto">
      <table>
        <tr>
          <td py:if="c.axis" scope="col">£m</td>
          <th py:for="date in c.results.dates" scope="col">${date}</th>
        </tr>
        <tr py:for="coordinates, amounts in sorted(c.results.matrix.items())">
          <th py:if="c.axis" scope="row">
            <a href="${c.axis_links[coordinates[0]]}">
              ${c.axis_labels.get(coordinates[0], coordinates[0])}
            </a>
          </th>
          <py:for each="amount in amounts">${money_td(amount)}</py:for>
        </tr>
        
        <tr py:if="c.axis">
          <th scope="row">Total</th>
          <py:for each="amount in c.totals">${money_td(amount)}</py:for>
        </tr>
      </table>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>

