<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">All accounts for slice '${c.slice_.name}'</py:def>
  
  <div py:def="content">
    <p>
      Slice
      '<a href="${url(controller='slice', action='view', name_or_id=c.slice_.name)}">${c.slice_.name}</a>'
      contains the following accounts:
    </p>

    ${c.page.pager(items_per_page=c.items_per_page)}
    <ul>
      <li py:for="row in c.page.items">
        <a href="${url(controller='account', action='view', id_=row.id)}">${row.name}</a>
      </li>
    </ul>
    ${c.page.pager(items_per_page=c.items_per_page)}
  </div>

  <xi:include href="../layout.html" />
</html>

